body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 1em;
}

p {
    margin: auto;
    padding: 1em;
}

button {
    padding: 1em;
    margin: 1em auto;
    width: 50%;
    font-size: 2em;
}

img {
    margin: auto;
    width: 80%;
    border: 0.5em black solid;
    height: 80%;
}